

.add{
    display: flex;
    gap: 5px;
    align-items: center;
    button{
        width: 25px;
        height: 25px;
        border: none;
        border-radius: 50%;
        font-weight: bold;
        
    }
}